<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title *ngIf="postsEdit.indexOf(post._id)==-1"> {{ post.title }} </mat-panel-title>
      <mat-panel-title *ngIf="postsEdit.indexOf(post._id)>-1"> EDITION MODE </mat-panel-title>
    </mat-expansion-panel-header>
    <p *ngIf="postsEdit.indexOf(post._id)==-1">{{ post.content }}</p>
    <div *ngIf="postsEdit.indexOf(post._id)>-1">
      <app-post-create [postToEdit]="post" (CancelId)="cancelEdition($event)"></app-post-create>
    </div>
    <mat-action-row *ngIf="postsEdit.indexOf(post._id)==-1 && post._id !== null" >
      <button mat-button color="accent" (click)="onEdit(post._id)">EDIT</button>
      <button mat-button color="warn" (click)="onDelete(post._id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>  
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0">No posts added yet!</p>